coverage/

# Ignore .DS_Store files
.DS_Store

.idea/

# Ignore .env files
.env
.env.local

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore Next.js build directories
.next/

# Ignore Nest.js build directories
dist/
out/

# Ignore vscode files
.vscode/

# Ignore vercel files
.vercel/